body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #0e5282;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 15px 0;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}

p {
  margin: 12px 0;
  line-height: 190%
}

em {
  font-style: italic;
}

#page-wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
  background: white;
  -moz-box-shadow: 0px 0px 10px #ffffff;
  -webkit-box-shadow: 0px 0px 10px #ffffff;
  box-shadow: 0px 0px 10px #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=135, strength=5)";
  filter: progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=135, strength=5);
}

#header {
  float: left;
}

#main-title {
  font-family: 'Yanone Kaffeesatz';
  font-size: 48px;
  margin: 35px 0;
}

#main-title a {
  color: #000;
  text-decoration: none;
}

#nav {
  float: right;
  margin-top: 30px;
  border-bottom: 3px solid #0e5282;
  width: 795px;
  height: 50px;
  text-align: right;
}

#nav ul li {
  display: inline;
  padding-left: 30px;
}

#nav a {
  text-decoration: none;
  color: #0e5282;
  font-weight: bold;
}

#nav img {
  margin-left: 2px;
  padding-top: 3px;
}

#content-wrap {
  margin-left: 50px;
}

#footer {
  font-size: 11px;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 5px;
}

#footer p {
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 40px;
  width: 80%;
}

.post h2 {
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
  margin: 0;
}

a {
  color: #0e5282;
}

/* Resume */

#resume h2 {
  font-size: 20px;
  font-variant: small-caps;
}

ul {
  margin-bottom: 20px;
  margin-left: 0px;
  margin-top: 5px;
}

ul li {
  list-style: circle;
  padding: 5px;
}

.skill-group {
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
}

.resume-section {
  margin-left: 20px;
  margin-bottom: 20px;
}

.resume-section p {
  margin: 0;
  padding: 0;
}

.work-line {
  font-variant: small-caps;
  font-size: 16px;
  line-height: 120%;
}

.work-name {
  font-weight: bold;
}

.school-line {
  font-variant: small-caps;
  font-size: 16px;
  line-height: 120%;
}

.school-name {
  font-weight: bold;
}

.education p {
  line-height: 160%;
}

.education {
  margin-bottom: 20px;
}

.date-sub-head {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}
