body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #0e5282;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 15px 0;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}

p {
  margin: 12px 0;
  line-height: 190%
}

em {
  font-style: italic;
}

#page-wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
  background: white;
  -moz-box-shadow: 0px 0px 10px #ffffff;
  -webkit-box-shadow: 0px 0px 10px #ffffff;
  box-shadow: 0px 0px 10px #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=135, strength=5)";
  filter: progid:DXImageTransform.Microsoft.Glow(color=#666666,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=135, strength=5);
}

#header {
  float: left;
}

#main-title {
  font-family: 'Yanone Kaffeesatz';
  font-size: 48px;
  margin: 35px 0;
}

#main-title a {
  color: #000;
  text-decoration: none;
}

#nav {
  float: right;
  margin-top: 30px;
  border-bottom: 3px solid #0e5282;
  width: 795px;
  height: 50px;
  text-align: right;
}

#nav ul li {
  display: inline;
  padding-left: 30px;
}

#nav a {
  text-decoration: none;
  color: #0e5282;
  font-weight: bold;
}

#nav img {
  margin-left: 2px;
  padding-top: 3px;
}

#content-wrap {
  margin-left: 50px;
}

#footer {
  font-size: 11px;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 5px;
}

#footer p {
  margin: 0;
  padding: 0;
}

#post-wrapper {
  width: 80%;
}

.single-post {
  margin: 0 80px 40px 0;
}

.post {
  margin-bottom: 40px;
}

.post-footer {
  font-style: italic;
}

.single-post h2 {
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
  margin: 0;
}

.post h2 {
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
  margin: 0;
}

.pagination {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.sub-project {
    font-style: italic;
}

a {
  color: #0e5282;
}

h2.internal a {
  color: #000;
}

h2.external a {
  color: #0e5282;
}

.date-sub-head {
  color: #333;
}

.date-sub-head a {
  color: #333;
}

blockquote {
  border-left: 5px solid #999;
  padding-left: 15px;
  font-style: italic;
  font-color: #666;
}

/* Resume */

#resume h2 {
  font-size: 20px;
  font-variant: small-caps;
}

ul {
  margin-bottom: 20px;
  margin-left: 0px;
  margin-top: 5px;
}

ul li {
  list-style: circle;
  padding: 5px;
}

.project-description {
  width: 80%;
  float:left;
}

.project-description-sidebar {
  float: right;
  margin: 20px 50px 0 0;
}

.project-description ol li {
  line-height: 190%
}

.skill-group {
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
}

.resume-section {
  margin-left: 20px;
  margin-bottom: 20px;
}

.resume-section p {
  margin: 0;
  padding: 0;
}

.work-line {
  font-variant: small-caps;
  font-size: 16px;
  line-height: 120%;
}

.work-name {
  font-weight: bold;
}

.school-line {
  font-variant: small-caps;
  font-size: 16px;
  line-height: 120%;
}

.school-name {
  font-weight: bold;
}

.education p {
  line-height: 160%;
}

.education {
  margin-bottom: 20px;
}

.date-sub-head {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

@-webkit-keyframes not-found-fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.not-found {
  -webkit-animation: not-found-fade 20s;
  margin-top: 100px;
}

.not-found h1 {
  font-family: 'Yanone Kaffeesatz';
  font-size: 160px;
}

.not-found h2 {
  font-family: 'Yanone Kaffeesatz';
  font-size: 40px;
}

.plus-one {
  margin-left: 10px;
}

/* Pygment */
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */