---
layout: default
---
<div class="single-post">
  <h2 class="internal" style="display:inline;">{{ page.title }}</h2>
  <span class="plus-one"><g:plusone size="medium" count="false"></g:plusone></span>
  <p class="date-sub-head"><a href="/about">Michael Levin</a> | {{ page.date | date: "%A, %B %d, %Y" }}</p>
  <p>{{ content }}</p>
</div>

<p class="post-footer">Have a comment? Send me an <a href="mailto:&#109;&#105;&#099;&#104;&#097;&#101;&#108;&#064;&#107;&#105;&#110;&#110;&#101;&#116;&#105;&#099;&#097;&#046;&#099;&#111;&#109;">email</a> or a tweet <a href="http://www.twitter.com/kinnetica" onclick="javascript: _gaq.push(['_trackPageview', '/G4/twitter.com']);">@kinnetica</a>.</p>